@import "variable.scss";

.intro,
h4.fonctionnement__titre,
.fonctionnement,
.restaurant {
  animation: apparition 4s;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading__spinner {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 45%;
  bottom: 70%;
  right: 55%;
  height: 100%;
  animation: fade-out 4s;

  & div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient($color-secondaire, $color-primaire);
    animation: loading__spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3.3;
  }
  & div:nth-child(1) {
    left: -24px;
    animation-delay: -0.24s;
  }
  & div:nth-child(2) {
    left: 0px;
    animation-delay: -0.12s;
  }
  & div:nth-child(3) {
    left: 24px;
    animation-delay: 0s;
  }
  & div:nth-child(4) {
    left: 48px;
    animation-delay: -0.24s;
  }
  & div:nth-child(5) {
    left: 72px;
    animation-delay: -0.12s;
  }
  & div:nth-child(6) {
    left: 96px;
    animation-delay: 0s;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading__spinner {
  0% {
    top: 8px;
    height: 150px;
  }
  50%,
  100% {
    top: 24px;
    height: 75px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  & img {
    width: 40%;
    max-width: 430px;
    min-width: 150px;
  }
}

.intro__situation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 50px;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  & i {
    padding-right: 10px;
  }
}

.intro__texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  &__titre {
    font-size: 16px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
  }
  &__description {
    font-size: 16px;
    width: 70%;
    margin-bottom: 20px;
    text-align: center;
  }
  &__btn {
    background: linear-gradient($color-secondaire, $color-primaire);
    position: relative;
    z-index: 1;
    padding: 10px;
    border: 0px solid;
    border-radius: 20px;
    color: white;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
      &::after {
        opacity: 1;
      }
    }
    &::after {
      border-radius: 20px;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(#fda0e0, #9d84db);
      opacity: 0;
      z-index: -1;
      transition: opacity 500ms;
    }
  }
}

h2 {
  margin-bottom: 0px;
}

// fonctionnement
.fonctionnement {
  padding-left: 20px;
  padding-right: 20px;
  &__titre {
    padding-left: 20px;
  }
  &__carte {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #f5edff;
    }
    &:hover i {
      color: $color-primaire;
    }
    &__chiffre {
      margin: 20px 0px;
      color: white;
      background-color: $color-primaire;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 6px 2px 6px;
      margin-left: -10px;
    }

    &__logo {
      padding-left: 15px;
      padding-right: 15px;
      color: grey;
    }

    &__texte {
      font-weight: 700;
    }
  }
}

// restaurant

.restaurant {
  background-color: #f2f2f2;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  &__titre {
    padding-left: 15px;
  }
  &__carte {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
    &__img {
      display: inline-block;
      position: relative;
      width: 100%;
      & img {
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    &__texte {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      &__nom {
        font-weight: 700;
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
      }
      &__quartier {
        margin-left: 10px;
        margin-bottom: 15px;
      }
      &__like {
        font-size: 22px;
        color: white;
        margin-right: 30px;
        height: 100%;
        cursor: pointer;
        -webkit-text-stroke: 2px grey;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text !important;
        transition-duration: 1500ms;
        transition-property: color;

        &:hover {
          background: linear-gradient(
            to top,
            $color-secondaire,
            $color-primaire
          );
          animation: remplissage 1600ms;
          animation-fill-mode: forwards;
        }
      }
    }
    &__nouveau {
      color: green;
      background-color: $color-tertaire;
      width: 80px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }
  }
}

h4 {
  display: flex;
  justify-content: left;
  font-weight: 700;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.restaurant__carte__img .restaurant__carte__nouveau {
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 10px;
  text-align: center;
}

// footer

footer {
  background-color: #403f41;
  color: white;
  & h5 {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    font-family: "Shrikhand";
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  & li {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin-top: 4px;
  }
  & ul {
    padding-left: 20px;
    list-style: none;
  }
  & i {
    margin-right: 10px;
  }
  & a {
    color: white;
  }
}
.fa-hands-helping {
  font-size: 11.5px;
}
@media all and (min-width: 769px) and (max-width: 992px) {
  h3 {
    display: flex;
    justify-content: center;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__carte {
      width: 50%;
    }
  }

  h4 {
    display: flex;
    justify-content: center;
  }
  .restaurant {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__carte {
      width: 90%;
      display: flex;
    }
  }

  footer h5 {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  footer li {
    display: flex;
    justify-content: center;
  }
}

@media all and (min-width: 993px) and (max-width: 2500px) {
  .fonctionnement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__carte {
      display: flex;
      justify-content: flex-start;
      width: 30%;
    }
  }

  .restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & h4 {
      margin-right: 90%;
    }
    &__carte {
      width: 40%;
    }
  }

  footer h5 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  footer li {
    display: flex;
    justify-content: center;
  }
}
