@import "variable.scss";
* {
  font-family: "Roboto", sans-serif;
}

.entrées {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.plats {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

.desserts {
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
}
h1 {
  width: 100%;
  max-height: 70px;
}
.test__col {
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
  .header__img {
    display: flex;
    justify-content: center;
    z-index: -1;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  & i {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
}

.retour {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.header__retour {
  padding-top: 10px;
  margin-left: 20px;
}

.header__img {
  width: 100%;
  height: 305px;
  object-fit: cover;
}

.core {
  background-color: #f2f2f2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  & h3 {
    padding-left: 30px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  & i {
    margin-top: 40px;
  }
  & h2 {
    margin-top: 40px;
  }
  &__titre {
    font-family: "Shrikhand";
    padding-left: 30px;
  }
  &__like {
    font-size: 22px;
    padding-right: 30px;
  }
}

h3 {
  font-weight: 300;
  &::after {
    content: "";
    position: absolute;
    width: 41px;
    left: 30px;
    height: 3%;
    border-bottom: 3px solid #99e2d0;
  }
}

.carte {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 15px;
  width: 90%;
  border-radius: 13px;
  height: 50px;
  -webkit-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.1);
  height: 120%;
  & h4 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &__prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    padding-right: 20px;
    font-weight: 700;
  }
}
h4 {
  margin: 0px;
}

p {
  margin: 0px;
}
.entrées {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  margin: 10px;
}

.commander {
  background: linear-gradient($color-secondaire, $color-primaire);
  padding: 15px 40px;
  border: 0px solid;
  border-radius: 20px;
  color: white;
  margin: 40px 0px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
    &::after {
      opacity: 1;
    }
  }
  &::after {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#fda0e0, #9d84db);
    opacity: 0;
    z-index: -1;
    transition: opacity 500ms;
  }
}

h5 {
  margin: 0px;
}

@media all and (min-width: 769px) and (max-width: 1260px) {
  .core h3 {
    display: flex;
    justify-content: flex-start;
  }

  .carte__titre {
    display: flex;
    justify-content: flex-start;
  }
}
@media all and (min-width: 1261px) and (max-width: 25000px) {
  .entrées {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .carte {
    width: 31%;
  }
  .plats {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .desserts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .commander {
    margin-left: 45%;
  }
}
