@charset "UTF-8";
.intro,
h4.fonctionnement__titre,
.fonctionnement,
.restaurant {
  animation: apparition 4s;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading__spinner {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 45%;
  bottom: 70%;
  right: 55%;
  height: 100%;
  animation: fade-out 4s;
}
.loading__spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: linear-gradient(#ff79da, #9356dc);
  animation: loading__spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3.3;
}
.loading__spinner div:nth-child(1) {
  left: -24px;
  animation-delay: -0.24s;
}
.loading__spinner div:nth-child(2) {
  left: 0px;
  animation-delay: -0.12s;
}
.loading__spinner div:nth-child(3) {
  left: 24px;
  animation-delay: 0s;
}
.loading__spinner div:nth-child(4) {
  left: 48px;
  animation-delay: -0.24s;
}
.loading__spinner div:nth-child(5) {
  left: 72px;
  animation-delay: -0.12s;
}
.loading__spinner div:nth-child(6) {
  left: 96px;
  animation-delay: 0s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading__spinner {
  0% {
    top: 8px;
    height: 150px;
  }
  50%,
  100% {
    top: 24px;
    height: 75px;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
h1 img {
  width: 40%;
  max-width: 430px;
  min-width: 150px;
}

.intro__situation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 50px;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.intro__situation i {
  padding-right: 10px;
}

.intro__texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.intro__texte__titre {
  font-size: 16px;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}
.intro__texte__description {
  font-size: 16px;
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
}
.intro__texte__btn {
  background: linear-gradient(#ff79da, #9356dc);
  position: relative;
  z-index: 1;
  padding: 10px;
  border: 0px solid;
  border-radius: 20px;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
}
.intro__texte__btn:hover {
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
}
.intro__texte__btn:hover::after {
  opacity: 1;
}
.intro__texte__btn::after {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#fda0e0, #9d84db);
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

h2 {
  margin-bottom: 0px;
}

.fonctionnement {
  padding-left: 20px;
  padding-right: 20px;
}
.fonctionnement__titre {
  padding-left: 20px;
}
.fonctionnement__carte {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
}
.fonctionnement__carte:hover {
  background-color: #f5edff;
}
.fonctionnement__carte:hover {
  color: #9356dc;
}
.fonctionnement__carte__chiffre {
  margin: 20px 0px;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px 2px 6px;
  margin-left: -10px;
}
.fonctionnement__carte__logo {
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}
.fonctionnement__carte__texte {
  font-weight: 700;
}

.restaurant {
  background-color: #f2f2f2;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
}
.restaurant__titre {
  padding-left: 15px;
}
.restaurant__carte {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
}
.restaurant__carte__img {
  display: inline-block;
  position: relative;
}
.restaurant__carte__img img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurant__carte__texte {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.restaurant__carte__texte__nom {
  font-weight: 700;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}
.restaurant__carte__texte__quartier {
  margin-left: 10px;
  margin-bottom: 15px;
}
.restaurant__carte__texte__like {
  font-size: 22px;
  color: white;
  margin-right: 30px;
  height: 100%;
  cursor: pointer;
  -webkit-text-stroke: 2px grey;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  transition-duration: 1500ms;
  transition-property: color;
}
.restaurant__carte__texte__like:hover {
  background: linear-gradient(to top, #ff79da, #9356dc);
  animation: remplissage 1600ms;
  animation-fill-mode: forwards;
}
.restaurant__carte__nouveau {
  color: green;
  background-color: #99e2d0;
  width: 80px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

h4 {
  display: flex;
  justify-content: left;
  font-weight: 700;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurant__carte__img .restaurant__carte__nouveau {
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 10px;
  text-align: center;
}

footer {
  background-color: #403f41;
  color: white;
}
footer h5 {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
footer li {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  margin-top: 4px;
}
footer ul {
  padding-left: 20px;
  list-style: none;
}
footer i {
  margin-right: 10px;
}
footer a {
  color: white;
}

.fa-hands-helping {
  font-size: 11.5px;
}

@media all and (min-width: 769px) and (max-width: 992px) {
  h3 {
    display: flex;
    justify-content: center;
  }

  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fonctionnement__carte {
    width: 50%;
  }

  h4 {
    display: flex;
    justify-content: center;
  }

  .restaurant {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .restaurant__carte {
    width: 90%;
    display: flex;
  }

  footer h5 {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  footer li {
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 993px) and (max-width: 2500px) {
  .fonctionnement {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fonctionnement__carte {
    display: flex;
    justify-content: flex-start;
    width: 30%;
  }

  .restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurant h4 {
    margin-right: 90%;
  }
  .restaurant__carte {
    width: 40%;
  }

  footer h5 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  footer li {
    display: flex;
    justify-content: center;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

.entrées,
.entrées__titre {
  animation: fadein1 2s;
  -moz-animation: fadein1 2s;
  -webkit-animation: fadein1 2s;
}

.plats,
.plats__titre {
  animation: fadein2 2s;
  -moz-animation: fadein2 2s;
  -webkit-animation: fadein2 2s;
}

.desserts,
.desserts__titre {
  animation: fadein3 2s;
  -moz-animation: fadein3 2s;
  -webkit-animation: fadein3 2s;
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}
@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {
  width: 100%;
  max-height: 70px;
}

.test__col {
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
}
.test__col .header__img {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header i {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.retour {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.header__retour {
  padding-top: 10px;
  margin-left: 20px;
}

.header__img {
  width: 100%;
  height: 305px;
  object-fit: cover;
}

.core {
  background-color: #f2f2f2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.core h3 {
  padding-left: 30px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.menu i {
  margin-top: 40px;
}
.menu h2 {
  margin-top: 40px;
}
.menu__titre {
  font-family: "Shrikhand";
  padding-left: 30px;
}
.menu__like {
  font-size: 22px;
  color: white;
  margin-right: 15px;
  height: 100%;
  cursor: pointer;
  -webkit-text-stroke: 2px grey;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  transition-duration: 1500ms;
  transition-property: color;
}
.menu__like:hover {
  background: linear-gradient(to top, #ff79da, #9356dc);
  animation: remplissage 1600ms;
  animation-fill-mode: forwards;
}

h3 {
  font-weight: 300;
}
h3::after {
  content: "";
  position: absolute;
  width: 41px;
  left: 30px;
  height: 3%;
  border-bottom: 3px solid #99e2d0;
}

.carte {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 15px;
  width: 90%;
  border-radius: 13px;
  height: 50px;
  -webkit-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.1);
  height: 120%;
}
.carte__titre {
  padding-top: 0px;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}
.carte__prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  padding-right: 20px;
  font-weight: 700;
  width: 0%;
}
.carte__texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte__anim {
  color: white;
  background-color: #99e2d0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  display: none;
}
.carte:hover .carte {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte:hover .carte__prix {
  display: flex;
  justify-content: flex-end;
  width: 0%;
  margin-left: auto;
}
.carte:hover .carte__anim {
  animation-name: selec;
  animation-duration: 1s;
  display: flex;
}
.carte:hover .carte__anim .fas {
  animation-name: turn;
  animation-duration: 1s;
}

@keyframes selec {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes turn {
  to {
    transform: rotate(1turn);
  }
}
p {
  margin: 0px;
}

.entrées {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commander {
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px 40px;
  border: 0px solid;
  border-radius: 20px;
  color: white;
  margin: 40px 0px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
}
.commander:hover {
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.15);
}
.commander:hover::after {
  opacity: 1;
}
.commander::after {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#fda0e0, #9d84db);
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

h5 {
  margin: 0px;
}

@media all and (min-width: 769px) and (max-width: 1260px) {
  .core h3 {
    display: flex;
    justify-content: flex-start;
  }

  .carte__titre {
    display: flex;
    justify-content: flex-start;
  }
}
@media all and (min-width: 1261px) and (max-width: 25000px) {
  .entrées {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
  }

  .carte {
    width: 31%;
  }

  .plats {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
  }

  .desserts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
  }

  .commander {
    margin-left: 45%;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
