@import "variable.scss";
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

.intro__situation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.intro__situation i {
  padding-right: 10px;
}

.intro__texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.intro__texte__bouton {
  background: linear-gradient($color-secondaire, $color-primaire);
  padding: 10px;
  border: 0px solid;
  border-radius: 20px;
  color: white;
}
.fonctionnement h3 {
  display: flex;
  justify-content: left;
  font-weight: 700;
}
.fonctionnement__carte {
  display: flex;
  align-items: center;
}

.restaurant h4 {
  display: flex;
  justify-content: left;
  font-weight: 700;
}

.restaurant__carte {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.restaurant__carte__img img {
  object-fit: cover;
  width: 80%;
  height: 150px;
}
