@import "variable.scss";
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
h1 img {
  width: 40%;
}

.intro__situation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.intro__situation i {
  padding-right: 10px;
}

.intro__texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}

h2 {
  margin-bottom: 0px;
}

.intro__texte__titre {
  font-size: 16px;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.intro__texte__description {
  font-size: 16px;
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
}

.intro__texte__bouton {
  background: linear-gradient($color-secondaire, $color-primaire);
  padding: 10px;
  border: 0px solid;
  border-radius: 20px;
  color: white;
  margin-bottom: 40px;
}

// fonctionnement
.fonctionnement h3 {
  display: flex;
  justify-content: left;
  font-weight: 700;
}
.fonctionnement__carte {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
  -webkit-box-shadow: 2px 7px 44px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 7px 44px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 7px 44px 2px rgba(0, 0, 0, 0.1);
}

.fonctionnement__carte__chiffre {
  margin: 20px 0px;
  color: white;
  background-color: $color-primaire;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px 2px 6px;
}

.fonctionnement__carte__logo {
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}

.fonctionnement__carte__texte {
  font-weight: 700;
}

// restaurant

.restaurant {
  background-color: #f2f2f2;
}
.restaurant h4 {
  display: flex;
  justify-content: left;
  font-weight: 700;
  font-size: 20px;
}

.restaurant__carte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 7px 56px -1px rgba(0, 0, 0, 0.2);
}

.restaurant__carte__img img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurant__carte__nom {
  font-weight: 700;
  width: 70%;
}

.restaurant__carte__quartier {
  width: 70%;
}
.restaurant__carte__like {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
}

.restaurant__carte__nouveau {
  color: green;
  background-color: $color-tertaire;
  width: 25%;
  display: flex;
  justify-content: center;
}

// footer

footer {
  background-color: black;
  color: white;
}
h5 {
  padding-left: 20px;
  font-family: "Shrikhand";
  font-size: 16px;
}
ul {
  padding-left: 20px;
  list-style: none;
}
