@import "variable.scss";
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
h1 img {
  width: 40%;
}

.header {
  display: flex;
  justify-content: center;
}
